@charset "UTF-8";
*{
    margin: auto;
    padding: 0;
    font-family: sans-serif, "poppins";
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,  #2b40ff,#07121a);
    background-repeat: no-repeat;
}
.main-container{
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: 100%;
}

.container{
    padding: 20px;
    border: 1px solid rgb(37, 37, 173) 14, 22;
    border-radius: 1.5rem;
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom,  rgb(34, 149, 162),#0967aa);
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.container h1{
    color: #0b0e2f;
    transition: transform 1s ease;
}
.container h1:hover{
    transform: scale(1.2);
}
.humid-image{
    width: 200px;
    max-width: 50%;
    border-radius: 100%;
    margin-top: 5%;
    max-width: 100%;
}
.weather-image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 5%;
    max-width: 100%;
}
.search-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-left: auto;
}
.search-bar{
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: 1px solid #0c0c0c;
    width: 290px;
    height: 32px;
    margin-left: 5px;
} 
.search-bar:focus{
    box-shadow: 0 0 10px rgb(5, 20, 60);
}
.wind-image{
    margin-top: 0px;
    width: 200px;
    border-radius: 100%;
    max-width: 100%;
}

.search-button{
    border-radius: 7px;
    padding: 5px;
    outline: none;
    border: 1px solid #0b0e2f;
    margin-left: 16px;
    position: relative;
    background-color: transparent;
    color: #0b0e2f;
    z-index: 1;
    overflow: hidden;
    transition: color 0.5s;
}
.search-button:hover{
    cursor: pointer;
    color: rgb(250, 251, 252);
    background: rgb(182, 182, 224);
    outline: none;
}
.search-button::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    width: 120%;
    height: 220%;
    background-color: #0b0e2f;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.6s ease;
}
.search-button:hover::before{
    top: -50%;
    left: -10%;
}

@media only screen and (max-width: 1200px) 
{
    .main-container{
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(to right,  #2b40ff,#07121a);
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
    .container{
        height: 470px;
        width: 470px;
        margin: 5px;
    }
}

@media only screen and (max-width: 1020px) 
{
    .main-container{
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(to right,  #2b40ff,#07121a);
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
    .container{
        height: 450px;
        width: 450px;
        margin: 5px;
    }
}


@media only screen and (max-width: 425px) {
    .main-container{
        flex-direction: column;
        background: linear-gradient(to right,  #2b40ff,#07121a);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    .container{
        height: 150px;
        width: 150px;
        margin: 5px; 
    }
}
